/* ///////////////////////////////////////////////////////////////////// */

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* ///////////////////////////////////////////////////////////////////////// */

.formbg {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 30px;
    padding-bottom: 60px;
}

.formcontent {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    margin: auto;
    padding: 10px;
    color: #2389cd;
}

.float-right {
    float: right;
    flex: 1;
    margin-right: 10%;
}

.errormsg {
    color: red;
    font-size: xx-small;
}

.col-sx-6 {
    width: 45%;
    float: left;
    padding-left: 3%;
    margin: auto;
}

.row {
    justify-content: center;
}

.lastbtn {
    margin-left: 3%;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: medium;
    }
    .formbg {
        width: 92%;
        background-color: rgb(255, 255, 255);
        margin: auto;
        padding: 10px;
        margin-top: 10px;
        padding-bottom: 60px;
    }
}